body{
    scroll-behavior: smooth;
}
.edited-footer{
    display: flex;
    position: relative;
    top: 31vh;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-top: 13px;
}
.edited-footer p{
    font-size: 17px;
}
.edited-footer a{
    text-decoration: none;
}